NODE_ENV=development


NEXT_PUBLIC_BASE_URL=https://sampleurl.com


# FLY ENVS
NEXT_PUBLIC_BASE_URL_IAM=https://sampleurl.com
NEXT_PUBLIC_BASE_URL_LEAVE=https://sampleurl.com
NEXT_PUBLIC_BASE_URL_DASHBOARD=https://sampleurl.com
NEXT_PUBLIC_BASE_URL_REIMBURSEMENT=https://sampleurl.com

NEXTAUTH_SECRET=samplenextsecret
GITHUB_ID=samplegithubid
GITHUB_SECRET=samplegithubsecret

CALENDAR_ID=sampelcalendarid@sample.com
GOOGLE_PROJECT_ID=samplegoogleprojectid
GOOGLE_PRIVATE_KEY_ID=samplegoogleprivatekey
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----SamplePrivatekey-----END PRIVATE KEY-----\n"
GOOGLE_CLIENT_EMAIL=samplegoogleclientemail@email.com
GOOGLE_CLIENT_ID=sampleclientid